h1{
    color:red;
    text-align:center;

}
#heading-2{
    color:blue;
}
.heading{
    color:chocolate;
}
.para{
    border:2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align:center;
}