h1{
    color: black;
    text-align:center;

}
#heading-2{
    color:blue;
}
.heading{
    color:chocolate;
}
.para{
    border:2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align:center;
}
.navbar{
    border:3px;
    border-color:black;
    border-style:solid;
    padding:30px;
    background-color: mediumpurple;
    text-align:center;

}
.navbar a{
    color:black;
    padding:10px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: lightcyan;
}
body{
    margin:0px;
}
.card{
    border:2px solid black;
    width:250px;
    text-align:center;
    margin-top: 30px;
    margin-left: 30px;
}
.card img{
    width:250px;
}
.card button{
    margin-bottom: 20px;
}
.para{
    border:2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    margin-left: 0;
}
span{
    color:blue;
}

.main-content{
    text-align:center;
}
.gear{
    position:fixed;
    top:100px;
    left:10px; 
}
.rem{
    position:fixed;
    top:100px;
    right:10px;
}
p{
    color:gray;
}
.searchbar{
    border-radius:20px;
    padding-right:15px;
    padding-left:25px;
    padding-top:10px;
    padding-bottom:10px;

    font-size:15px;
    border:1px solid gray;
    
}
.lens{
    position:relative;
    top:1px;
    left:30px;
    padding-left:30px;
}
